nav {
  ul {
    list-style: none;
    display: flex;
  }
  a {
    text-decoration: none;
    color: #fff8da;
    display: inline-block;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    transition: 0.25s color;
    &:hover {
      color: #3b5da8;
    }
  }

  li {
    margin-inline: 0.2rem;
    &:not(:first-child) {
      border-left: 2px solid #3b5da8;
    }
  }
}
